mixin project-list-item(id, title, type, year)
  a.project-list-item.block-md.text-uppercase(href="/projects/" + id, id=id, class!=attributes.class)
    .project-name.text-bold.pull-left.text-spaced
      for letter, i in title.split("")
        span.char(class="char-#{i + 1} delay-#{(i + 1) * 50}")= letter
    .project-type.pull-left= type
    .project-year.pull-right= year

//- =======================================================

.content-wrap
  .row
    .col-xs-12
      +project-list-item("wgsn", "WGSN Workspace", "Web App", "Coming Soon")(class="coming-soon")
      +project-list-item("wgsn", "WGSN Catwalks App", "Mobile App", "2015")
      +project-list-item("wgsn", "WGSN Public Website", "Website", "2015")
      +project-list-item("wgsn-brand-guide", "WGSN Brand Guide", "Website", "2015")
      +project-list-item("the-blending-room", "The Blending Room", "Website", "2015")
      +project-list-item("rupert-graves", "Rupert Graves", "Website", "2015")
      +project-list-item("field-intouch", "Field InTouch", "Tablet app", "2013–2015")
      +project-list-item("meat-cuts", "Meat Cuts", "Mobile app", "2014")
      +project-list-item("repassist", "RepAssist", "Tablet app", "2014")
      +project-list-item("glenda-graff", "Glenda Graff", "Website", "2013–2014")
  .block-md
  .row
    .col-xs-12
      +project-list-item("my-portfolio", "My Portfolio", "Website", "2012–2015")