mixin project(link, title, description)
  if link
    a.tile(href=link, class!=attributes.class)
      .image(class!=attributes.class)
      .overlay
        .overlay-content
          .project-name
            for letter, i in title.split("")
              span.char(class="char-#{i + 1} delay-#{(i + 1) * 50}")= letter
          p.delay-600= description
  else
    .tile(class!=attributes.class)
      .overlay
        .overlay-content
          .project-name
            for letter, i in title.split("")
              span.char(class="char-#{i + 1} delay-#{(i + 1) * 50}")= letter
          p.delay-600= description



//- .content-wrap
//- h2.text-center Recent projects
+project(
  "/projects/meat-cuts", 
  "Meat Cuts", 
  "An app for groumet foodies to learn all about their favourite cuts of meat."
  )(class="meat-cuts")

+project(
  "/projects/repassist",
  "RepAssist", 
  "A utlity for Novartis sales reps to report their expenses and order samples."
  )(class="repassist")

+project(
  "/projects/lets-go",
  "Let's Go",
  "A support tool for Psoriasis patients."
  )(class="lets-go")

+project(
  "/projects/jr-cigars",
  "JR Cigars", 
  "A social media and content hub for the world's largest online cigar store."
  )(class="jr-cigars desktop")

+project(
  "/projects/field-intouch",
  "Field InTouch", 
  "Interactive internal training decks for renowned global cigarette brands."
  )(class="field-intouch")

+project(
  "/projects/rupert-graves", 
  "Rupert Graves", "The official website for the UK actor."
  )(class="rupert-graves desktop")

+project(
  "/projects/glenda-graff",
  "Glenda Graff", 
  "A website for an exclusive Sydney-based wedding and event planner."
  )(class="glenda-graff desktop")

+project(
  "/projects/ken-khoo",
  "Ken Khoo", 
  "A portfolio site for a friend."
  )(class="ken-khoo desktop")

+project(
  "/projects/shoppernova", 
  "ShopperNova", 
  "A deals and competitions app made in association with Sydney's biggest radio station."
  )(class="shoppernova")

+project(
  "/projects/momo-brasserie",
  "Momo Brasserie", 
  "The website for a Sydney CBD restaurant."
  )(class="momo-brasserie desktop")