mixin projectslide(title, description, img, caselink, projectlink, bgcolor)
  .item(id!=attributes.id)
    .content-wrap
      .slide-content
        img(src=img)
        .text-container
          .text
            h3= title
            p= description
            if caselink
              a(href=caselink, target='_blank').btn Read More
            else if projectlink
              a(href=projectlink, target='_blank').btn Visit Project
            else
              .btn.disabled Coming Soon

#slider.owl-carousel.owl-theme
  +projectslide(
    "Meat Cuts",
    "An app for Meat & Livestock Australia to help amateur foodies learn all about different cuts of meat and how best to cook them.",
    "styles/img/projects/meat-cuts.png",
    "",
    "https://itunes.apple.com/au/app/meat-cuts/id904537057?mt="
  )(id="meat-cuts")
  
  +projectslide(
    "Gauloises",
    "An internal training slidedeck for international cigarette brand, Gauloises. The deck was very well received, and was translated into German, French, Flemish, Dutch and Arabic.",
    "styles/img/projects/gauloises.png",
    "",
    ""
  )(id="gauloises")

  +projectslide(
    "Glenda Graff",
    "A website for an event planner based in Sydney's Eastern Suburbs.",
    "styles/img/projects/glenda-graff.png",
    "",
    "http://glendagraff.com.au"
  )(id="glenda-graff")
  
  +projectslide(
    "Rupert Graves",
    "The official website for UK Actor, Rupert Graves.",
    "styles/img/projects/rupert-graves.png",
    "",
    ""
  )(id="rupert-graves")
  
  +projectslide(
    "Dermatology Maps",
    "A tool for Novartis sales representatives to collect and visualise important data in an engaging way.",
    "styles/img/projects/derma-maps.png",
    "google.com"
  )(id="derma-maps")

  +projectslide(
    "RepAssist",
    "A utility for Novartis sales representatives to report their meeting expenses and order pharmaceutical samples.",
    "styles/img/projects/repassist.png",
    "google.com"
  )(id="repassist")

  +projectslide(
    "ShopperNova",
    "A deals and competition app made in association with Nova FM.",
    "styles/img/projects/shoppernova.png",
    "google.com"
  )(id="shoppernova")

  +projectslide(
    "Ken Khoo",
    "A portfolio site for my friend, a 3D animator.",
    "styles/img/projects/ken-khoo.png",
    "google.com"
  )(id="ken-khoo")

  +projectslide(
    "Momo Brasserie",
    "A website for Sydney CBD restaurant, Momo Brasserie.",
    "styles/img/projects/momo-brasserie.png",
    "google.com"
  )(id="momo-brasserie")