doctype html
block vars
  - var bodyclass = null;

html(lang='en')
  head
    block head
      meta(charset='utf-8')
      meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
      meta(name='viewport', content='width=device-width, initial-scale=1.0')
      meta(charset='utf-8')
      | !{ livereloadScript }
      
      title
        block title
          = locals.name
      
      link(rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.0.0/normalize.min.css")
      link(rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/flexboxgrid/6.3.0/flexboxgrid.min.css")
      link(rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=IBM+Plex+Mono|Rubik:400,700&display=swap")
      link(rel="stylesheet" type="text/css" href="/styles/style.css?v1.0")

      //- facebook
      meta(property="og:title", content="Amelia Lewis")
      meta(property="og:type", content="website")
      meta(property="og:url", content="http://amelia.design/")
      meta(property="og:image", content="http://amelia.design/img/og-image.jpg")
      meta(property="og:site_name", content="Amelia Lewis")
      meta(property="og:description", content="Hey, I'm Amelia — I'm a product designer based in NYC, currently working on design systems at Squarespace.")

      //- twitter
      meta(name="twitter:card", content="summary_large_image")
      meta(name="twitter:site", content="@amelia_lewis")
      meta(name="twitter:title", content="Amelia Lewis")
      meta(name="twitter:description", content="Hey, I'm Amelia — I'm a product designer based in NYC, currently working on design systems at Squarespace.")
      meta(name="twitter:image", content="http://amelia-design/img/og-image.jpg")
            
      //- generics
      link(rel="icon", href="/img/favicon-32.png", sizes="32x32")
      link(rel="icon", href="/img/favicon-57.png", sizes="57x57")
      link(rel="icon", href="/img/favicon-76.png", sizes="76x76")
      link(rel="icon", href="/img/favicon-96.png", sizes="96x96")
      link(rel="icon", href="/img/favicon-128.png", sizes="128x128")
      link(rel="icon", href="/img/favicon-228.png", sizes="228x228")
      
      //- Android
      link(rel="shortcut icon", sizes="196x196", href="/img/favicon-196.png")
      
      //- iOS
      link(rel="apple-touch-icon", href="/img/favicon-120.png", sizes="120x120")
      link(rel="apple-touch-icon", href="/img/favicon-152.png", sizes="152x152")
      link(rel="apple-touch-icon", href="/img/favicon-180.png", sizes="180x180")
      
      //- Windows 8 IE 10
      meta(name="msapplication-TileColor", content="#ffffff")
      meta(name="msapplication-TileImage", content="/img/favicon-144.png")
      meta(name="msapplication-config", content="/img/browserconfig.xml")

  body(class=bodyclass)    
    header
      .content-wrap
        nav
          each item in locals.nav
            .nav-item: a.link-highlight(href=item.url)= item.name
    
    #content.block-top-lg.block-bot-xl
      .content-wrap
        block content
    
    footer
      .content-wrap
        .row
          .col-xs-12
            a.link-highlight(href="mailto:amelialewis01@gmail.com", target='_blank') Email
            a.link-highlight(href="https://twitter.com/Amelia_Lewis", target="_blank") Twitter
            a.link-highlight(href="http://instagram.com/amelia_lewis", target="_blank") Instagram
            a.link-highlight(href="https://www.linkedin.com/in/amelia-lewis/", target="_blank") LinkedIn
            a.link-highlight(href="http://dribbble.com/Amelia_Lewis", target="_blank") Dribbble
            a.link-highlight(href="https://github.com/amelia-lewis", target="_blank") Github
            a.link-highlight(href="https://codepen.io/amelia-lewis/", target="_blank") Codepen
            a.link-highlight(href="https://www.notion.so/amelialewis/R-sum-Amelia-Lewis-7ce34fa0b78c4da4a537637f9cefbc2e", target="_blank") Résumé

            .block-ver-md
              p.text-copyright Website designed and built by me. Last updated on 
                - var today = new Date();
                - var localOffset = today.getTimezoneOffset() * 60000;
                - var monthNames = ["January","February","March","April","May","June","July","August","September","October","November","December"];
                span #{monthNames[today.getMonth()]} #{today.getDate()}, #{today.getFullYear()}.
    
    //- Device.js
    script(type="text/javascript", src="https://cdnjs.cloudflare.com/ajax/libs/device.js/0.2.7/device.min.js")

    //- Global site tag (gtag.js) - Google Analytics
    script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-50157111-1')
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-50157111-1');
