doctype html
block vars
  - var bodyclass = null;

html(lang='en')
  head
    block head
      meta(charset='utf-8')
      meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
      meta(name='viewport', content='width=device-width, initial-scale=1.0')
      title
        block title
          = locals.name
      link(rel='alternate', href=locals.url+'/feed.xml', type='application/rss+xml', title=locals.description)
      link(rel='stylesheet', href='/styles/style.css?v1.0')
      link(rel='stylesheet', href='/css/animate.css')
      link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css')
      link(href='http://fonts.googleapis.com/css?family=Lato:300,700,900|Pacifico', rel='stylesheet', type='text/css')
      link(rel="shortcut icon", type="image/x-icon", href="/favicon.ico")
      script(src='//use.typekit.net/rsv4pax.js')
      script.
        try{Typekit.load();}catch(e){}


  
  body(class=bodyclass)
    //- block header
    .b-nav
      ul
        li: a.b-link(href=locals.url) Home
        li: a.b-link(href="/projects/meat-cuts") Meat Cuts
        li: a.b-link(href="/projects/repassist") RepAssist
        li: a.b-link(href="/projects/lets-go") Let's Go
        li: a.b-link(href="/projects/jr-cigars") JR Cigars
        li: a.b-link(href="/projects/field-intouch") Field InTouch
        li: a.b-link(href="/projects/rupert-graves") Rupert Graves
        li: a.b-link(href="/projects/shoppernova") ShopperNova
        li: a.b-link(href="/projects/glenda-graff") Glenda Graff
        //- li: a.b-link(href="/projects/ken-khoo") Ken Khoo
        //- li: a.b-link(href="/projects/momo-brasserie") Momo Brasserie

    .b-container
      .b-menu
        .b-bun.b-bun--top
        .b-bun.b-bun--mid
        .b-bun.b-bun--bottom
    
    #content
      block content
    
    footer
      .content-wrap
        .row.contact
          .col-sm-9
            h4 Say hi!
            p Don't be shy... if you want to work together or find out more about any of my projects, I'd love to hear from you. You can download my r&eacute;sum&eacute; 
              a.standard(href="https://www.dropbox.com/s/hh2w9r5bnalixh0/Resume.pdf?dl=0", target="_blank") here
              | .

            p.detail
              i.fa.fa-paper-plane
              a(href='mailto:hello@amelia-lewis.com') hello@amelia-lewis.com
          
          .col-sm-3.social-media
            a(href='https://www.facebook.com/lewis.amelia', target='_blank'): i.fa.fa-facebook
            a(href='https://twitter.com/Amelia_Lewis', target='_blank'): i.fa.fa-twitter
            a(href='http://instagram.com/amelia_lewis', target='_blank'): i.fa.fa-instagram
            a(href='http://meelz-on-wheels.tumblr.com/', target='_blank'): i.fa.fa-tumblr
            a(href='http://www.linkedin.com/pub/amelia-lewis/44/672/9a1', target='_blank'): i.fa.fa-linkedin
            a(href='http://dribbble.com/Amelia_Lewis', target='_blank'): i.fa.fa-dribbble
            a(href='https://github.com/amelia-lewis', target='_blank'): i.fa.fa-github
            a(href='https://angel.co/amelia_lewis', target='_blank'): i.fa.fa-angellist
            //- a(href='https://www.pinterest.com/lewisamelia/', target='_blank'): i.fa.fa-pinterest-p
      
      .copyright
        .content-wrap
          .row
            .col-sm-12
              p &copy; #{ new Date().getFullYear() } #{ locals.owner } &ndash; website designed and built by me

    include partials/scripts
