doctype html
block vars
  - var bodyclass = null;

html(lang='en')
  head
    block head
      meta(charset='utf-8')
      meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
      meta(name='viewport', content='width=device-width, initial-scale=1.0')
      
      title
        block title
          = locals.name
      
      link(rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.0.0/normalize.min.css")
      link(rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/flexboxgrid/6.3.0/flexboxgrid.min.css")
      link(rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Inconsolata|Libre+Franklin:500|Lora:400,700")
      link(rel="stylesheet" type="text/css" href="/styles/style.css?v1.0")

      //- facebook
      meta(property="og:title", content="Amelia Lewis")
      meta(property="og:type", content="website")
      meta(property="og:url", content="http://amelia-lewis.com/")
      meta(property="og:image", content="http://amelia-lewis.com/styles/img/og-image.jpg")
      meta(property="og:site_name", content="Amelia Lewis")
      meta(property="og:description", content="I'm a product designer currently working on the next generation of editorial tools for The Wall Street Journal. Previously, I designed products and design systems at WeWork and WGSN. I love beautiful products, design systems and well-crafted CSS.")

      //- twitter
      meta(name="twitter:card", content="summary")
      meta(name="twitter:site", content="@amelia_lewis")
      meta(name="twitter:title", content="Amelia Lewis")
      meta(name="twitter:description", content="I'm a product designer currently working on the next generation of editorial tools for The Wall Street Journal. Previously, I designed products and design systems at WeWork and WGSN. I love beautiful products, design systems and well-crafted CSS.")
      meta(name="twitter:image", content="http://amelia-lewis.com/styles/img/og-image.jpg")
            
      //- generics
      link(rel="icon", href="/styles/img/favicon-32.png", sizes="32x32")
      link(rel="icon", href="/styles/img/favicon-57.png", sizes="57x57")
      link(rel="icon", href="/styles/img/favicon-76.png", sizes="76x76")
      link(rel="icon", href="/styles/img/favicon-96.png", sizes="96x96")
      link(rel="icon", href="/styles/img/favicon-128.png", sizes="128x128")
      link(rel="icon", href="/styles/img/favicon-228.png", sizes="228x228")
      
      //- Android
      link(rel="shortcut icon", sizes="196x196", href="/styles/img/favicon-196.png")
      
      //- iOS
      link(rel="apple-touch-icon", href="/styles/img/favicon-120.png", sizes="120x120")
      link(rel="apple-touch-icon", href="path/to/favicon-152.png", sizes="152x152")
      link(rel="apple-touch-icon", href="path/to/favicon-180.png", sizes="180x180")
      
      //- Windows 8 IE 10
      meta(name="msapplication-TileColor", content="#ffffff")
      meta(name="msapplication-TileImage", content="/styles/img/favicon-144.png")
      meta(name="msapplication-config", content="/styles/img/browserconfig.xml")

  body(class=bodyclass)
    header
      .content-wrap
        .row
          .col-xs-12.col-md-8.col-md-offset-2.col-lg-6.col-lg-offset-3
            a.header--logo(href="/")= locals.name
            
    .grid-lines
      .row
        .col-xs-6.col-sm-3.col-md-2.col-lg-1
        .col-xs-6.col-sm-3.col-md-2.col-lg-1
        .col-xs-6.col-sm-3.col-md-2.col-lg-1
        .col-xs-6.col-sm-3.col-md-2.col-lg-1
        .col-xs-6.col-sm-3.col-md-2.col-lg-1
        .col-xs-6.col-sm-3.col-md-2.col-lg-1
        .col-xs-6.col-sm-3.col-md-2.col-lg-1
        .col-xs-6.col-sm-3.col-md-2.col-lg-1
        .col-xs-6.col-sm-3.col-md-2.col-lg-1
        .col-xs-6.col-sm-3.col-md-2.col-lg-1
        .col-xs-6.col-sm-3.col-md-2.col-lg-1
        .col-xs-6.col-sm-3.col-md-2.col-lg-1
    
    #content
      block content
    
    footer.block-ver-xl
      .content-wrap
        .row
          .col-xs-12.col-md-8.col-md-offset-2.col-lg-6.col-lg-offset-3
            h4 Contact
            a.link-highlight(href="mailto:amelialewis01@gmail.com", target='_blank') Email
            //- a.link-highlight(href="https://www.facebook.com/lewis.amelia", target="_blank") Facebook
            a.link-highlight(href="https://twitter.com/Amelia_Lewis", target="_blank") Twitter
            a.link-highlight(href="http://instagram.com/amelia_lewis", target="_blank") Instagram
            //- a.link-highlight(href="http://meelz-on-wheels.tumblr.com/", target="_blank") Tumblr
            a.link-highlight(href="https://www.linkedin.com/in/amelia-lewis/", target="_blank") LinkedIn
            a.link-highlight(href="http://dribbble.com/Amelia_Lewis", target="_blank") Dribbble
            a.link-highlight(href="https://github.com/amelia-lewis", target="_blank") Github
            a.link-highlight(href="https://codepen.io/amelia-lewis/", target="_blank") Codepen

            .block-top-lg
              p.text-copyright Website designed and built by me. Last updated on 
                - var today = new Date();
                - var localOffset = today.getTimezoneOffset() * 60000;
                - var monthNames = ["January","February","March","April","May","June","July","August","September","October","November","December"];
                span #{monthNames[today.getMonth()]} #{today.getDate()}, #{today.getFullYear()}.
    
    //- Device.js
    script(type="text/javascript", src="https://cdnjs.cloudflare.com/ajax/libs/device.js/0.2.7/device.min.js")

    //- Global site tag (gtag.js) - Google Analytics
    script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-50157111-1')
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-50157111-1');
