extends layout

block append vars
  - bodyclass = 'project-view'

block prepend title
  | #{ page.title + " | "}

block content
  section#project
    //- .header-img(style="background-image: url('" + page.title.replace(/ /g, "-").toLowerCase() + "/project-tile.jpg')")

    .content-wrap.block-ver-xl
      //- .row.block-bot-md
      //-   .col-xs-12
      //-     a.highlighted.sans-serif(href="/") ← Back

      .row.block-bot-md
        .col-xs-12.text-center
          .block-bot-xs
            h1.text-tight= page.title
          
          .block-bot-md
            a.client-name.text-uppercase.text-smaller.text-xspaced(href="#{page.metadata.clientlink}" target="_blank")= page.metadata.clientname
          
          //- .block-bot-md
          //-   ul.project-role
          //-     li= page.metadata.role1
          //-     li= page.metadata.role2
          
          .block-bot-md
            if page.metadata.appstorelink
              a.btn(href="#{page.metadata.appstorelink}" target="_blank") App Store
            if page.metadata.playstorelink
              a.btn(href="#{page.metadata.playstorelink}" target="_blank") Google Play Store
            else if page.metadata.websitelink
              a.btn(href="#{page.metadata.websitelink}" target="_blank") Website
            else
              p.btn.btn-disabled.tight Internal use only
        
      hr

      .row.block-ver-md
        .col-xs-12.col-sm-4
          .block-right-md!= typogr(page.html).typogrify()
        
        .col-xs-12.col-sm-8
          img(src=page.title.replace(/ /g, "-").toLowerCase() + "/project-detail.jpg")