extends layout

block append vars
  - bodyclass = 'project'

block prepend title
  | #{ page.title + " · "}

block content
  header.border-bottom.block-ver-md
    .content-wrap
      .row
        .col-xs-12
          a.link-highlight(href="/projects") ⬅️ Back to Projects

  section#project
    .header-img(style="background-image: url('" + page.title.replace(/ /g, "-").toLowerCase() + "/project-tile.jpg')")

    .content-wrap
      .row.block-ver-xl
        .col-xs-12
          p.text-uppercase.text-smaller.text-spaced.text-tight.text-grey
            span= page.metadata.type
            span &nbsp;&middot;&nbsp;
            span= page.metadata.date
          h1(data-heading=page.metadata.client)= page.metadata.title
          if page.metadata.tagline
            p.project-tagline.text-bigger.text-tight= page.metadata.tagline
          
          if page.metadata.appstorelink || page.metadata.playstorelink || page.metadata.websitelink
            .block-top-md
              if page.metadata.appstorelink
                .block-right-sm.inline-block: a.link-highlight(href="#{page.metadata.appstorelink}" target="_blank") App Store ➡️
              if page.metadata.playstorelink
                .block-right-sm.inline-block: a.link-highlight(href="#{page.metadata.playstorelink}" target="_blank") Google Play Store ➡️
              if page.metadata.websitelink
                .block-right-sm.inline-block: a.link-highlight(href="#{page.metadata.websitelink}" target="_blank") Website ➡️

      .row.block-bot-xl
        .col-xs-12!= typogr(page.html).typogrify()

    .row.border-top.border-bottom
      .content-wrap
        .row
          .col-xs-6.block-ver-lg.border-right
            a.link-highlight.link-back(href="/projects/#{page.metadata.prevproject}") ⬅️ Previous

          .col-xs-6.block-ver-lg.text-right
            a.link-highlight.link-forward(href="/projects/#{page.metadata.nextproject}") Next ➡️