extends layout

block append vars
  - bodyclass = 'project'

block prepend title
  | #{ page.title + " · "}

block content
  section#project
    .content-wrap
      .row.block-top-xl
        .col-xs-12
          .h2-outer: h2(data-heading=page.metadata.client)= page.metadata.title

    //- .header-img(style="background-image: url('/work/" + page.metadata.id + "/project-tile.jpg')")

    .content-wrap
      .row.block-top-lg
        .col-xs-12.col-md-8
          if page.metadata.tagline
            .block-bot-md
              p.project-tagline.text-bigger.text-tight= page.metadata.tagline

          if page.metadata.appstorelink || page.metadata.playstorelink || page.metadata.websitelink
            .block-bot-md
              if page.metadata.appstorelink
                .block-bot-sm: a.link-highlight(href="#{page.metadata.appstorelink}" target="_blank") App Store →
              if page.metadata.playstorelink
                .block-bot-sm: a.link-highlight(href="#{page.metadata.playstorelink}" target="_blank") Google Play Store →
              if page.metadata.websitelink
                .block-bot-sm: a.link-highlight(href="#{page.metadata.websitelink}" target="_blank") Website →

        .col-xs-12.col-md-4.first-md
          .block-bot-sm
            h4.text-grey Project Type
            p= page.metadata.type
          
          .block-bot-sm
            h4.text-grey Date
            p= page.metadata.date

          .block-bot-sm
            h4.text-grey Client
            a.link-highlight(href=page.metadata.clientlink target="_blank")= page.metadata.clientname

          if page.metadata.role
            h4.text-grey Involvement
            p= page.metadata.role

      hr

      .row.block-bot-xl
        .col-xs-12!= typogr(page.html).typogrify()

    .row.border-top.border-bottom
      .content-wrap
        .row
          .col-xs-6.block-ver-lg.border-right
            a.link-highlight.link-back(href="/work/#{page.metadata.prevproject}") ← Previous

          .col-xs-6.block-ver-lg.text-right
            a.link-highlight.link-forward(href="/work/#{page.metadata.nextproject}") Next →
