extends layout

block append vars
  - bodyclass = 'project-view'

block prepend title
  | #{ page.title + " | "}

block content
  section#project
    .content-wrap
      .block-top-xl.block-bot-md
        .row
          .col-xs-12
            .block-bot-md: a.underlined.text-uppercase(href="/") ← Go back

        .row
          .col-xs-12.col-sm-9
            h1.text-uppercase.text-bold.text-tight= page.title
            .block-bot-md: a.project-client.text-uppercase(href="#{page.metadata.clientlink}" target="_blank")= page.metadata.clientname
            //- ul.project-role
            //-   li= page.metadata.role1
            //-   li= page.metadata.role2
          
          .col-xs-12.col-sm-3
            if page.metadata.appstorelink
              a.btn(href="#{page.metadata.appstorelink}" target="_blank") App Store
            if page.metadata.playstorelink
              a.btn(href="#{page.metadata.playstorelink}" target="_blank") Google Play Store
            else if page.metadata.websitelink
              a.btn(href="#{page.metadata.websitelink}" target="_blank") Website
            else
              p.btn.btn-disabled.tight Coming soon
      
      hr

      .block-top-md
        .row!= typogr(page.html).typogrify()

      hr

      .block-top-md.block-bot-xl
        .row
          .col-xs-12
            img(src=page.title.replace(/ /g, "-").toLowerCase() + "/project-detail.jpg")